<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="box">
        <form action="http://localhost:1015/authenticate" method="post">
            <h1>LOGIN</h1>
            <div class="form">
                <div class="forms">
                    <div class="form-item">
                        <input class="input-grupo" name="user" type="text" id="login" required autocomplete="off">
                        <label class="placeholder" for="login">login</label>
                    </div>
                    <div class="form-item">
                        <input class="input-grupo" name="password" type="password" id="password" required autocomplete="off">
                        <label class="placeholder" for="password">senha</label>
                    </div>
                </div>
                <div class="botao">
                    <input class="click" type="submit" value="entrar">
                </div>
                <% if(msg != "") { %>
                    <p style="color: red; font-size: 10px; text-align: center;"><%= msg %></p>
                <% } %> 
                <a href="http://localhost:1015/registro" 
                style="font-size: 10px; margin-left: 40%; color: aqua;">Registra-se</a>
                   
            <div>
        </form>
    </div>
</body>
</html>