<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <br>
    <form action="http://localhost:1015/comment" method="post">
        <input type="text"  name="postId">
        <input type="text"  name="userId">
        Comentar: <input type="text" name="comment">
        <button>comentar</button>
    </form>
    <br>


    <form action=""></form>
</body>
</html>