<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F-society</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>

    <header>
        
        <img src="/public/logo.jpg" alt="logo F-socity">

        <div class="menu-bar">   
            <a href="">Publicar</a>
            <a href="">Feed</a>
            <a href="http://localhost:1015/logout">Sair</a>
        </div>

    </header>

    <main>
        <h1>Bem vindo a F-society </h1>
    </main>
    
</body>
</html>