<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F-socity</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
        
        <img src="logo.jpg" alt="logo F-socity">

        <div>
            <% if(user.user != undefined) { %>
            <a><%= user.user %></a>
            <% } %>     
            <a href="http://localhost:1015/newpost">Publicar</a>
            <a href="http://localhost:1015/home">Feed</a>
            <a href="http://localhost:1015/logout">Sair</a>
        </div>

    </header>

    <main>
        <h1>Bem vindo a F-socity <%= user.user %></h1>
        <br>
        <br>
        
        <div id="feed">
            <br>
            <% posts.forEach( post => {  %>
            <div id="post">
                <% users.forEach( users => { %>
                    <% if (post.userId == users.id) { %>
                <p>User: <%= users.user %> </p>
                    <%}%>
                <%})%>
                <p>Post: <%= post.post %>  </p>
                <br>
            </div>
            <% }) %>
            <br>
        </div>

    </main>
    
</body>
</html>