<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F-socity</title>
    <link rel="stylesheet" href="style.css">
    <style>
        textarea {
            border-radius: 15px;
            margin-top: 20px;
            box-shadow: 0 0 1em black;
            padding: 10px;
        }
        .botao {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        }
        .click {
        padding: 8px;
        width: 120px;
        align-self: center;
        cursor: pointer;
        color: aliceblue;
        font-weight: 700;
        border-radius: 10px;
        background: linear-gradient(
                                    #9900ff, 
                                    #8c00ff,
                                    #8000ff,
                                    #7300ff,
                                    #6600ff,
                                    #5900ff,
                                    #4d00ff,
                                    #4000ff,
                                    #3300ff);   
        }
    </style>
</head>
<body>

    <header>
        
        <img src="logo.jpg" alt="logo F-socity">

        <div>
            <% if(user.user != undefined) { %>
            <a><%= user.user %></a>
            <% } %>     
            <a href="http://localhost:1015/newpost">Publicar</a>
            <a href="http://localhost:1015/post">Feed</a>
            <a href="http://localhost:1015/logout">Sair</a>
        </div>

    </header>

    <main>
        <h1> New Post </h1>
       <br>
       <br>
       <form action="http://localhost:1015/post" method="post">
           <br>
           <input type="hidden" name="userid" value="<%= user.id %>">
           <label for=""> <%= user.user %> Aqui você pode compartilhar com todos: </label>
           <br>
           <textarea name="post" id="newPost" cols="30" rows="10"></textarea>
           <br>
           <div class="botao">
            <input class="click" type="submit" value="Publicar">
             </div>
       </form>
    </main>
    
</body>
</html>